<form action="users/create" method="post" accept-charset="UTF-8">
    <label for="username">User Name</label>
    <input id="username" name="username" type="text">
    <label for="email">Email</label>
    <input id="email" name="email" type="text">
    <label for="password">Password</label>
    <input id="password" name="password" type="password">
    <input type="submit" value="Submit">
</form>